/* general styling */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* shared classes */

.main-section-title {
    font-family: "Bakbak One", sans-serif;
    font-size: 45px;
    color: white;
}

.basic-info-label {
    color: #6c38c7;
    font-family: "Bakbak One", sans-serif;
    font-size: 20px;
    margin: 0;
}

.basic-info-text {
    color: #a189ca;
    font-weight: 50;
    font-family: "Bakbak One", sans-serif;
}

.basic-card {
    border: solid 2px #8b62d3;
    background-color: rgb(221, 214, 214, 0.7);
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}

.basic-card-centered-text {
    border: solid 2px #8b62d3;
    background-color: rgb(221, 214, 214, 0.7);
    margin: 5px;
    padding: 10px 20px;
    border-radius: 10px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}

.hero-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 100%;
    object-fit: cover;
    display: block;
    border: solid 2px #8b62d3;
}

.hero-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 20px;
}

@media (max-width: 850px) {
    .main-section-title {
        font-size: 35px;
    }
}

@media (max-width: 580px) {
    .main-section-title {
        font-size: 30px;
    }
}

/* styling for the root element */
#root {
    background: linear-gradient(135deg, #732f81 0%, #05453a 100%);
    width: 100%;
    min-height: 100vh;
}

/* styling for nav bar element */

.navbar-button {
    background-color: #ffffff20;
    border: 0;
    border-radius: 20px;
    padding: 10px 30px;
    right: 0;
    top: 0;
    margin: 70px 60px;
    color: #dcdcdc;
    font-weight: 400;
    text-decoration: none;
}

.navbar-button:hover {
    background-color: #ffffff40;
    cursor: pointer;
}

@media (max-width: 850px) {
    .navbar-button {
        margin: 50px 30px;
    }
}

/* styling for the hero section element */
#hero-section-container {
    position: absolute;
    top: 30%;
}

#hero-section-text {
    padding-left: 100px;
}

#hero-title,
#hero-subtitle {
    margin: 0;
    padding: 0;
    padding-right: 25px;
    display: inline-block;
}

#hero-title {
    font-size: 128px;
    font-family: "Bakbak One", sans-serif;
    color: whitesmoke;
}

#hero-subtitle {
    font-size: 64px;
    font-family: "Bakbak One", sans-serif;
    color: whitesmoke;
    margin-top: 10px;
}

#tool-icon {
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 20px;
    color: whitesmoke;
}

@media (max-width: 1250px) {
    #hero-title {
        font-size: 52px;
    }

    #hero-subtitle {
        font-size: 36px;
    }

    #hero-section-text {
        padding-left: 50px;
    }
    #tool-icon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 580px) {
    #hero-title {
        font-size: 52px;
    }

    #hero-subtitle {
        font-size: 36px;
    }

    #hero-section-text {
        padding-left: 20px;
    }

    #tool-icon {
        visibility: hidden;
    }
}

/* styling for the search bar element */

#search-bar-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#search-bar {
    background-color: whitesmoke;
    max-width: 40%;
    height: 22px;
    padding: 5px 15px;
    font-weight: 300;
    font-size: 16px;
    flex: auto;
    border: none;
    border-radius: 20px 0 0 20px;
}

#search-bar:focus {
    outline: none;
}

#search-type-menu {
    background-color: whitesmoke;
    border: 0;
    height: 32px;
    border-radius: 0 20px 20px 0;
    padding: 0 15px;
    font-weight: 400;
    font-size: 13px;
    border-left: 1px solid #dcdcdc;
    color: #adaaaa;
}

#search-button {
    color: whitesmoke;
    font-weight: 400;
    font-size: 24px;
    padding-left: 10px;
}

#search-button:hover {
    cursor: pointer;
    font-weight: 1000;
    color: #dcdcdc;
}

/* Player Profile */

/* Player Card */
#player-card-container {
    width: 500px;
    padding: 10px 30px;
    border-radius: 10px;
    border: solid 2px white;
    background-color: rgb(221, 214, 214, 0.7);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 50px auto 0 auto;
}

#player-card-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#basic-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    min-height: 200px;
}

#player-photo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
    object-fit: cover;
    display: block;
    border: solid 2px #8b62d3;
}

#rank-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    display: block;
    margin: 25px 0 10px 0;
}

#basic-info-stats {
    text-align: center;
    position: relative;
    top: 10px;
}

#rank-name-section {
    padding-left: 20px;
}

@media (max-width: 850px) {
    #player-card-container {
        margin: 10px auto 0 auto;
        max-width: 70%;
    }
    #player-card-info-container {
        flex-direction: column;
    }
    #basic-info-stats {
        margin-bottom: 30px;
    }
}

@media (max-width: 580px) {
    #player-card-container {
        width: 80%;
    }
}

/* Game Feed Section */

#recent-games-title-container {
    text-align: center;
    margin-top: 100px;
}

#game-history-container {
    width: 900px;
    height: 442px;
    margin: 30px auto 0 auto;
    border-radius: 10px;
    background-color: #05453a20;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: solid 2px whitesmoke;
    overflow: auto;
    padding: 10px;
}

@media (max-width: 950px) {
    #game-history-container {
        width: 90%;
    }
}

/* Game Card */

.banner-stats-text {
    color: #8b62d3;
    font-weight: 50;
    font-family: "Bakbak One", sans-serif;
}

@media (max-width: 950px) {
    .mobile-optional {
        display: none;
    }
}

/* Bottom Section */

#bottom-section-wrapper {
    display: flex;
    justify-content: center;
    gap: 300px;
    row-gap: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 100px;
    padding-bottom: 100px;
}

#mostplayed-heroes-container,
#peers-container {
    text-align: center;
}

#mostplayed-heroes-shadow-box {
    border: solid 2px whitesmoke;
    width: 600px;
    height: 400px;
    background-color: #05453a20;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
    overflow: auto;
}

#peers-shadow-box {
    border: solid 2px whitesmoke;
    width: 400px;
    height: 400px;
    background-color: #05453a20;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    overflow: auto;
    padding: 10px;
}

#mostplayed-heroes-title,
#peers-title {
    margin-bottom: 65px;
}

@media (max-width: 650px) {
    #mostplayed-heroes-shadow-box {
        width: 460px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px) {
    #peers-shadow-box {
        width: 350px;
    }

    #mostplayed-heroes-shadow-box {
        width: 360px;
    }
}

@media (max-width: 400px) {
    #peers-shadow-box,
    #mostplayed-heroes-shadow-box {
        border: none;
    }
}

/* Peer Card */
#peer-image {
    border: solid 2px #8b62d3;
}

/* Most Played Heroes Card */
#most-played-heroes-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#left-text-wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

/* About section */

#about-section {
    width: 800px;
    margin: auto;
    max-width: 90%;
    text-align: center;
}

#about-text {
    text-align: left;
    color: whitesmoke;
    font-family: "Bakbak One", sans-serif;
    font-weight: 100;
}

/* Match Details */

/*
#basic-match-details-top-wrapper {
    border: solid black 5px;
}
*/

#match-description-container {
    width: 60%;
    margin: auto;
}

.match-description-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 600px) {
    #match-description-container {
        width: 80%;
    }
}

#match-score-details-wrapper {
    text-align: center;
}

#match-score {
    font-family: "Bakbak One", sans-serif;
    font-size: 70px;
    margin-top: 0;
    padding-top: 0;
    color: whitesmoke;
}

#winning-team-label {
    font-family: "Bakbak One", sans-serif;
    font-size: 30px;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    bottom: 50px;
    color: whitesmoke;
}
