/* general styling */

html,
body {
    margin: 0;
    padding: 0;
}

/* styling for the root element */
#root {
    background: linear-gradient(135deg, #732f81 0%, #05453a 100%);
    width: 100vw;
    height: 100vh;
}

/* styling for nav bar element */

.navbar-button {
    background-color: #ffffff20;
    border: 0;
    border-radius: 20px;
    padding: 10px 30px;
    right: 0;
    top: 0;
    margin: 50px 60px;
    position: fixed;
    color: #dcdcdc;
    font-weight: 400;
    text-decoration: none;
}

.navbar-button:hover {
    background-color: #ffffff40;
    cursor: pointer;
}

@media (max-width: 580px) {
    .navbar-button {
        margin: 25px 30px;
    }
}

/* styling for the hero section element */
#hero-section-container {
    position: absolute;
    top: 30%;
}

#hero-section-text {
    padding-left: 100px;
}

#hero-title,
#hero-subtitle {
    margin: 0;
    padding: 0;
    padding-right: 25px;
    display: inline-block;
}

#hero-title {
    font-size: 128px;
    font-family: "Bakbak One", sans-serif;
    color: #ffffff;
}

#hero-subtitle {
    font-size: 64px;
    font-family: "Bakbak One", sans-serif;
    color: #ffffff;
    margin-top: 10px;
}

#tool-icon {
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 20px;
    color: #ffffff;
}

/* Tablet */

@media (max-width: 1250px) {
    #hero-title {
        font-size: 52px;
    }

    #hero-subtitle {
        font-size: 36px;
    }

    #hero-section-text {
        padding-left: 50px;
    }
    #tool-icon {
        width: 30px;
        height: 30px;
    }
}

/* Mobile */
@media (max-width: 580px) {
    #hero-title {
        font-size: 52px;
    }

    #hero-subtitle {
        font-size: 36px;
    }

    #hero-section-text {
        padding-left: 20px;
    }

    #tool-icon {
        visibility: hidden;
    }
}

/* styling for the search bar element */

#search-bar-container {
    height: 100hv;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#search-bar {
    background-color: #ffffff;
    max-width: 40%;
    height: 22px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    font-size: 16px;
    flex: auto;
    border: none;
    border-radius: 20px 0px 0px 20px;
}

#search-bar:focus {
    outline: none;
}

#search-type-menu {
    background-color: #ffffff;
    border: 0;
    height: 32px;
    border-radius: 0px 20px 20px 0px;
    padding: 0px 15px 0px 15px;
    font-weight: 400;
    font-size: 13px;
    border-left: 1px solid #dcdcdc;
    color: #adaaaa;
}

#search-button {
    color: #ffffff;
    font-weight: 400;
    font-size: 24px;
    padding-left: 10px;
}

#search-button:hover {
    cursor: pointer;
    font-weight: 1000;
    color: #dcdcdc;
}

/* Player Profile*/

/* Player Card */
#player-card-container {
    width: 500px;
    padding: 30px;
    border-radius: 10px;
    background-color: #d9d9d920;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#player-card-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}

#basic-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding-top: 40px;
}

#player-photo {
    max-width: 120px;
    max-height: 120px;
    border-radius: 100%;
    object-fit: cover;
    display: block;
}

#rank-photo {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: block;
}

#basic-info-stats {
    text-align: center;
}

.basic-info-label {
    color: #ffffff;
    font-family: "Bakbak One", sans-serif;
}

.basic-info-text {
    color: #ffffff;
    font-weight: 50;
    font-family: "Bakbak One", sans-serif;
}

#rank-name-section {
    padding-left: 20px;
}

@media (max-width: 580px) {
    #player-card-container {
        width: 90%;
    }
}
